div {
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 20px;
}

.box1, .box2, .box3, .box4{
  float: left;
  width: 25%;
}
.box1, .box2, .box3{
  border-right: solid 2px blue;
}

.box0 {
  border: solid 2px blue;
  display: flex;
}

