@charset "utf-8";


.aSway01{
	-webkit-animation-name:myanime_sway_01;
	-webkit-animation-duration:2s;
	-webkit-animation-delay:0s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-fill-mode:backwards;
	-webkit-transform-origin:center center;
	
	animation-name:myanime_sway_01;
	animation-duration:2s;
	animation-delay:0s;
	animation-timing-function:ease;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-fill-mode:backwards;
	transform-origin:center center;
	}
	@-webkit-keyframes myanime_sway_01{
		100%{-webkit-transform:translateY(-40px);}
		}
	@keyframes myanime_sway_01{
		100%{transform:translateY(-40px);}
		}

.aSway02{
	-webkit-animation-name:myanime_sway_02;
	-webkit-animation-duration:2s;
	-webkit-animation-delay:-2s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-fill-mode:backwards;
	-webkit-transform-origin:center center;
	
	animation-name:myanime_sway_02;
	animation-duration:2s;
	animation-delay:-2s;
	animation-timing-function:ease;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-fill-mode:backwards;
	transform-origin:center center;
	}
	@-webkit-keyframes myanime_sway_02{
		100%{-webkit-transform:translateY(-40px);}
		}
	@keyframes myanime_sway_02{
		100%{transform:translateY(-40px);}
		}

.aBlink{
	-webkit-animation-name:myanime_blink;
	-webkit-animation-duration:5.7s;
	-webkit-animation-delay:0s;
	-webkit-animation-timing-function:step-end;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:forwards;
	-webkit-transform-origin:center center;
	
	animation-name:myanime_blink;
	animation-duration:5.7s;
	animation-delay:0s;
	animation-timing-function:step-end;
	animation-iteration-count:infinite;
	animation-direction:normal;
	animation-fill-mode:forwards;
	transform-origin:center center;
	}
	@-webkit-keyframes myanime_blink{
		  0%{opacity:1;}
		 10%{opacity:0;}
		 20%{opacity:1;}
		100%{opacity:1;}
		}
	@keyframes myanime_blink{
		  0%{opacity:1;}
		 10%{opacity:0;}
		 20%{opacity:1;}
		100%{opacity:1;}
		}
