@charset "utf-8";
*{
	box-sizing:border-box;
	}
i{
	text-style:normal;
	}
header a{
	-webkit-transition-property:opacity;
	transition-property:opacity;
	-webkit-transition-duration:0.5s;
	transition-duration:0.5s;
	}
header a.sleep:hover{
	opacity:1;
	}
body {
	width: auto;
	height:100%;
	min-width: 1056px;
	font-size:14px;
	line-height:1;
	font-family: 'Corporate Logo-Bold', sans-serif !important;
}
p {
	font-family: 'Corporate Logo-Bold', sans-serif !important;
}	
#wrap{
	height:100%;
	/*min-height:800px;*/
	width: 100%;
	/*opacity:0;*/
	}
header{
	position:absolute;left:0;top:0;
	width:100%;
	height:70px;
	background-color:#33cc66;
	z-index:1;
	overflow: hidden;
	}
header div.gnavi {
	width: 100%;
}
header div.inner{
	position: fixed;
	/*transform: translate3d(0, 0, 0);*/
	width: 100%;
	height:70px;
	background-color:#33cc66;
	margin:0 auto 0 auto;
	}

header div.gnavi a{
	display:inline-block;
	text-decoration: none;
	font-size: 20px;
	color:white;
}
.p-left {
	list-style: none;
	position: absolute;
	top: 25px;
	white-space: nowrap;
}
.p-left li {
	display: inline-block;
}
.p-left li:before {
	display: inline-block;
    padding: 0 10px;
    content: '';
}
#keyvisual{
	/*min-width:1096px;*/
	width: 100%;
	/*height:100%;*/
	height:640px;
	}
#keyvisual div.inner{
	position:relative;
	height:100%;
	}
#keyvisual img{
	height:100%;
	}
#keyvisual div.phrase{
	position:absolute;
	left:0;
	top:120px;
	width:100%;
	overflow: hidden;
	text-align:center;
	}
#keyvisual div.phrase h2{
	margin:24px 0 24px 0;
	font-size: 60px;
	color: #33cc66;
	}
#keyvisual div.phrase h4{
	margin:24px 0 24px 0;
	font-size: 28px;
	color: #33cc66;
}
.bar_menu {
	display: none;
}
.people .person {
	text-align: -webkit-center;
}
.people .person a:nth-child(1) {
	display: none;
	width: 176px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}
.people .person a:nth-child(2) {
	display: block;
	width: 176px !important;
	height: 220px !important;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}
.people .hiratsuka a:nth-child(1) {
	background-image: url(../../index/images/hukidashi/1.svg);
}
.people .hiratsuka a:nth-child(2) {
	background-image: url(../../index/images/people/hiratsuka1.png);
}
.people .fujio a:nth-child(1) {
	background-image: url(../../index/images/hukidashi/1.svg);
}
.people .fujio a:nth-child(2) {
	background-image: url(../../index/images/people/fujio1.png);
}
.people .kurozumi a:nth-child(1) {
	background-image: url(../../index/images/hukidashi/1.svg);
}
.people .kurozumi a:nth-child(2) {
	background-image: url(../../index/images/people/kurozumi1.png);
}
.people .takeuchi a:nth-child(1) {
	background-image: url(../../index/images/hukidashi/1.svg);
}
.people .takeuchi a:nth-child(2) {
	background-image: url(../../index/images/people/takeuchi1.png);
}
.people .uchida a:nth-child(1) {
	background-image: url(../../index/images/hukidashi/1.svg);
}
.people .uchida a:nth-child(2) {
	background-image: url(../../index/images/people/uchida1.png);
}
.people .otaki a:nth-child(1) {
	background-image: url(../../index/images/hukidashi/1.svg);
}
.people .otaki a:nth-child(2) {
	background-image: url(../../index/images/people/otaki1.png);
}

@media (min-height: 801px){
	#keyvisual div.people{
		position:absolute;
		left:0;
		bottom:27.5vh;
		width:100%;
	}
	#keyvisual div.people div.p-box{
		white-space:nowrap;
		text-align:center;
	}
	#keyvisual div.people div.p-box p{
		display:inline-block;
		position:relative;left:0;
		width:32vh;
		height:32.5vh;
	}
	#keyvisual div.people div.p-box p a{
		/*display:block;*/
		width:100%;
		height:100%;
	}
}
@media (max-height: 800px){
	#keyvisual div.people{
		position:absolute;
		left:0;
		bottom:40px;
		width:100%;
	}
	#keyvisual div.people div.p-box{
		white-space:nowrap;
		text-align:center;
	}
	#keyvisual div.people div.p-box p{
		display:inline-block;
		position:relative;left:0;
		padding: 0 20px;
	}
	#keyvisual div.people div.p-box p a{
		/*display:block;*/
		/*width:100%;*/
		height:100%;
	}
} 
@media screen and (min-width: 769px) {
	.under800 {
		display: none;
	}
	.over800 {
		display: block;
	    position: absolute;
	    left: 170px;
	    top: 30px;
	    color: white;
	    /*font-weight: 700;*/
	}
	header .p-left {
		padding-left: 550px;
	}
	#bar {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	body {
	min-width: 340px;
	}
	#logo img {
		left: 28px !important;
		zoom:0.6 !important;
	}
	#keyvisual{
		height: 560px;
	}
	#keyvisual div.phrase{
		position:absolute;
		left:0;
		top:120px;
		width:100%;
		overflow: hidden;
		text-align:center;
	}
	#keyvisual div.phrase h2{
		margin:0 !important;
		font-size: 8vw !important;
		}
	#keyvisual div.phrase h4{
		margin:24px 0 24px 0 !important;
		font-size: 4.5vw !important;
	}
	#keyvisual div.people{
		bottom: 30px;
	}
	.over800 {
		display: none;
	}
	.under800 {
		display: block !important;
	    position: absolute;
	    left: 110px;
	    top: 22px;
	    color: white;
	    /*font-weight: 700;*/
	}
	header .p-left {
		padding-left: 350px;
		display: none;
	}
	#bar {
		display: block;
		width: 40px;
		height: 40px;
		right: 20px;
    	position: absolute;
    	top: 0;
	    bottom: 0;
	    margin: auto
	}
	#bar img {
		position: absolute;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	}
	.bar_menu {
		position: absolute;
	    z-index: 1000;
	    top: 70px;
	    width: 100%;
	}
	.bar_menu ul {
		list-style: none;
		background-color: #33cc66;
		line-height: 1.8;
	}
	.bar_menu li {
		text-align: center;
		border-top: 1px solid #ffffff;
	}
}
@media screen and (max-width: 400px) {
	#logo img {
		zoom:0.5 !important;
	}
	.under800 {
	    left: 100px !important;
	}
	#keyvisual{
		height: 528px;
	}
	#keyvisual div.phrase h2{
		margin:0 !important;
		font-size: 10vw !important;
		}
	#keyvisual div.phrase h4{
		margin:24px 0 24px 0 !important;
		font-size: 5vw !important;
	}
	#keyvisual div.people{
		bottom: 20px;
	}
}
#logo {
	
}
#logo img {
	position: absolute;
	height: 70px;
	zoom: 0.7;
	left: 70px;
	top: 0;
	bottom: 0;
	margin:auto;
}
#keyvisual div.people{
	overflow: scroll;
}
#keyvisual div.people::-webkit-scrollbar {
    width: 0px;
}
.border {
	border-top:solid #33cc66;
	width: 100%;
}
.subtitle {
	width: 150px;
	height: 100px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
}
@media screen and (max-width: 768px) {
	.subtitle {
		width: 100px !important;
		height: 80px !important;
	}
}
@media screen and (max-width: 400px) {
	.subtitle {
		width: 80px !important;
		height: 60px !important;
	}
}
#contents {
	height: 100%;
	width: 100%;
}
/*-------------------work----------------------*/
#work .subtitle {
	background-image: url(../../index/images/title/work.svg);
}
#work {
	width: 100%;
}
#work .business {
	display: flex;
    justify-content: center;
    align-items: center; 
    margin: 4% 0 6% 0;
}
#work .business img {
	width: 300px;
	min-width: 100px;
}
#work .business img:nth-of-type(1){
	margin: 1.5% 0 0 3%;
}
#work .business img:nth-of-type(2){
	margin: 1.5% 3% 0 3%;
}
#work .business img:nth-of-type(3){
	margin: 1.5% 3% 0 0;
}
#work .business img:nth-of-type(1):hover {
	opacity: 0.6;
}
#work .business img:nth-of-type(2):hover {
	opacity: 0.6;
}
#work .business img:nth-of-type(3):hover {
	opacity: 0.6;
}
#work .ac {
	display: none;
	width: 90%;
	margin: 0 auto;
	margin-top: 2%;
}
#work .ac p {
	font-size: calc(112.5% + 4 * (100vw - 1000px) / 400);
	text-align: center;
}
#work .ac .images {
	width: 100%;
	margin-top: 2%;
	overflow: auto;
}
#work .ac .images img {
	width: 24%;
}
#work .ac-branding {
	
}
#work .ac-branding .images {
		background-color: rgba(242, 205, 129, 0.1);
}
#work .ac-branding p {
	color: #efb133;
}
#work .ac-inbound {
	
}
#work .ac-inbound .images {
		background-color: rgba(0, 101, 178, 0.1);
}
#work .ac-inbound p {
	color: #0065b2;
}
#work .ac-innovation {
	
}
#work .ac-innovation .images {
		background-color: rgba(43, 164, 100, 0.1);
}
#work .ac-innovation p {
	color: #2ba464;
}

@media screen and (min-width:401px) and (max-width:768px) {
	#work .ac .images img {
	width: 48%;
}
}
@media screen and (max-width: 400px) {
	#work .ac .images img {
	width: 100%;
}
}
/*-------------------talk----------------------*/
#talk {
	margin-top: 3%;
}
#talk .subtitle {
	background-image: url(../../index/images/title/talk.svg);
}
#talk .image:hover {
	opacity: 0.6;
}
#talk p {
	color:#33cc66;
	font-size: 25px;
	text-align: center;
	margin: 3% ;
}
#talk .image p {
	position: relative;
	text-align: center;
	top: 50% ;
	color: white;
	font-size: 32px !important;
}
#talk  a {
	text-decoration:none;
}
#talk .image {
	width: 575px;
	height: 250px;
	margin: 0 auto 3% auto;
	background-image: url(../../index/images/talk/link/talk1.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}
@media screen and (min-width:401px) and (max-width:768px) {
	/*iPhone6 ~ iPad*/
	#talk p{
		font-size: 20px;
	}
	#talk .image {
	width: 384px;
	height: 200px;
	background-image: url(../../index/images/talk/link/talk2.png);
	}
}

@media screen and (max-width: 400px) {
	/*~ iPhone6*/
	#talk p {
		font-size: 15px;
	}
	#talk .image {
	width: 320px;
	height: 170px;
	background-image: url(../../index/images/talk/link/talk3.png);
	}
}

/*-----------------overview--------------------*/
#overview {
	margin: 0 auto;
}
#overview .subtitle {
	background-image: url(../../index/images/title/about.svg);
}
.wrap_table {
  width: 50%;
  /*height: 100%;*/
  margin: 2% auto 4%;
  border: 1px solid #dedede;
  border-bottom: none;
  display: table;
}
@media screen and (max-width: 768px) {
	.wrap_table {
  		width: 70%;
	}
}
.wrap_table dl {
  background: #f2f2f2;
  overflow: hidden;
  display: table-row;
}
.wrap_table dt {
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
  font-weight: bold;
  display: table-cell;
}
 .wrap_table dd {
  width: 75%;
  padding: 15px;
  background: #fff;
  border-left: 1px solid #dedede;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
  display: table-cell;
}
/*-------------------entry----------------------*/
#entry .button {
	background-image: url(../../index/images/other/entry.svg);
	width: 260px;
	height: 74px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 4%;
}
#entry .button a {
	width: 260px;
	height: 74px;
	display: block;
}
#entry p {
	color: #33cc66;
    font-size: 24px;
    text-align: center;
    margin-top: 6px;
}
@media screen and (max-width:768px) {
	#entry .button {
		width: 196px;
		height: 56px;
	}
	#entry .button a {
		width: 196px;
		height: 56px;
	}
	#entry p {
    	font-size: 18px;
	}
}

@media screen and (max-width: 400px) {
	#entry .button {
		width: 130px;
		height: 37px;
	}
	#entry .button a {
		width: 130px;
		height: 37px;
	}
	#entry p {
    	font-size: 12px;
	}
}
/*-------------------more----------------------*/
#more {
	width: 100%;
	margin-top: 6%;
}
#more .subtitle {
	background-image: url(../../index/images/title/more.svg);
}
#more .images {
	display: flex;
    justify-content: center;
    align-items: center; 
}
#more .images a {
	flex: 1;
}
#more .images img {
	flex: 1;
	margin: 0 1%;
}
@media screen and (max-width:768px) {
	#more {
		margin-top: 10%;
	}
}
/*-------------------footer----------------------*/
#footer {
	width: 100%;
	height:70px;
	background-color: #33cc66;
	display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 4%;
}
@media screen and (max-width:768px) {
	#footer {
		height:36px;
	}
	#footer p {
		font-size: 12px !important;
	}
}

/*---------------------yoshida------------------------------------------------*/

/*-------------------voice----------------------*/
#voice .subtitle {
	background-image: url(../../index/images/title/voice.svg);
	margin-bottom: 25px;
}
#voice {
	width: 100%;
}
#voice .wrap_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

#voice .box {
    /* float: left; */
    height: 150px;
    width: 170px;
    text-align: center;
    font-size: 12px;
    font-weight: 550;
    border: solid 3px #33cc66;
    position: relative;
    margin: 0 3% 12px 3%;
}

#voice .ishiduka p:nth-child(2), .hasegawa p:nth-child(2), .hanashita p:nth-child(2){
  color: #33cc66; 
  font-size: 18px;
  font-weight: 580;
}

#voice .box .m-name{
  font-size: 18px;
  font-weight: 580;
}
#voice .mbox {
  float: left;
  height:230px;
  width: 100%;
  text-align: left;
  font-weight:550;
  font-size: 12px;
  border: solid 2px transparent;
  position:relative;
}

/*#voice .ishiduka-article{*/
/*	display: none;*/
/*}*/

#voice .hasegawa-article{
	display: none;
}


#voice .hanashita-article{
	display: none;
}
#voice .mbox {
  padding : 24px 90px 25px 90px;
  border: solid 1px transparent;
  background-color :#33cc66;
  margin-top: 5px;
} 
#voice .mbox p {
	line-height: 135%;
	font-family:"ＭＳ Ｐゴシック",sans-serif;
	font-size: 12px;
	color: white;
}

#voice .box p {
	line-height: normal;
}
#voice .m-top {
	position: absolute;
    width: 100%;
}

#voice .ishiduka .triangle {
  /*display: none;*/
  border-bottom: 15px solid #33cc66;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  margin-left: -10px;
  position: absolute;
  left: 50%;
}
#voice .hasegawa .triangle {
  display: none;
  border-bottom: 15px solid #33cc66;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  margin-left: -10px;
  position: absolute;
  left: 50%;
}
#voice .hanashita .triangle {
  display: none;
  border-bottom: 15px solid #33cc66;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  margin-left: -10px;
  position: absolute;
  left: 50%;
}
@media screen and (min-width:401px) and (max-width:768px) {
	/*iPhone6 ~ iPad*/
	#voice .box p {
		font-size:10px;
	}
}
@media screen and (max-width: 400px) {
	/*~ iPhone6*/
	#voice .box p {
		font-size: 7px;
		
	}
}
@media screen and (min-width:401px) and (max-width:768px) {
	/*iPhone6 ~ iPad*/
	#voice .mbox p:nth-child(2), #voice .mbox p:nth-child(6) {
		font-size:11.5px !important;
	}
	#voice .mbox p:nth-child(1), #voice .mbox p:nth-child(5) {
		font-size:13px !important;
	}
}

@media screen and (max-width: 400px) {
	/*~ iPhone6*/
	#voice .mbox p:nth-child(2), #voice .mbox p:nth-child(6) {
		font-size:10px !important;
	}
	#voice .mbox p:nth-child(1), #voice .mbox p:nth-child(5) {
		font-size:12px !important;
		color: white;
	}
}
@media screen and (min-width:401px) and (max-width:768px) {
	/*iPhone6 ~ iPad*/
	#voice .mbox {
		padding : 20px 50px 20px 50px !important;
	}
}
@media screen and (max-width: 400px) {
	/*~ iPhone6*/
	#voice .mbox {
		padding : 20px 40px 20px 40px !important;
		
		
	}
}
@media screen and (min-width:401px) and (max-width:768px) {
	/*iPhone6 ~ iPad*/
	.ishiduka p:nth-child(2), .hasegawa p:nth-child(2), .hanashita p:nth-child(2){
		font-size:14px !important;
	}
}
@media screen and (max-width: 400px) {
	/*~ iPhone6*/
	.ishiduka p:nth-child(2), .hasegawa p:nth-child(2), .hanashita p:nth-child(2){
		font-size: 10px !important;
		
	}
}
@media screen and (min-width:401px) and (max-width:768px) {
	/*iPhone6 ~ iPad*/
	.ishiduka ruby:nth-child(3), .hasegawa ruby:nth-child(3),.hanashita ruby:nth-child(3) {
		font-size:14px !important;
	}
}
@media screen and (max-width: 400px) {
	/*~ iPhone6*/
	.ishiduka ruby:nth-child(3), .hasegawa ruby:nth-child(3), .hanashita ruby:nth-child(3) {
		font-size: 14px !important;
		
	}
}
@media screen and (max-width: 400px) {
	/*~ iPhone6*/
	#voice rt {
		display: none;
	}
}