@charset "utf-8";
*{
	box-sizing:border-box;
	}
i{
	text-style:normal;
	}
header a{
	-webkit-transition-property:opacity;
	transition-property:opacity;
	-webkit-transition-duration:0.5s;
	transition-duration:0.5s;
	}
header a.sleep:hover{
	opacity:1;
	}
body {
	height:100%;
	font-size:14px;
	line-height:1;
	}
#wrap{
	height:100%;
	min-height:800px;
	width: 100%;
	opacity:0;
	}

/* ================ */
header{
	position:absolute;left:0;top:0;
	width:100%;
	height:70px;
	background-color:#ffffff;
	z-index:1;
	overflow: hidden;
	}
header div.inner{
	/*width:1096px;*/
	width: 100%;
	height:70px;
	background-color:#ffffff;
	margin:0 auto 0 auto;
	}

header div.gnavi a{
	display:inline-block;
	/*width:137px;*/
	width: 12.5%;
	height:67px;
	font-size:0;
	vertical-align:top;
	background-repeat:no-repeat;
	background-position:50% 50%;background-size:auto auto;
	}
header div.gnavi a:nth-of-type(1){
	background-image:url(../images/gnavi_01.gif);
	}
header div.gnavi a:nth-of-type(1):hover{
	background-image:url(../images/gnavi_01_on.gif);
	}
header div.gnavi a:nth-of-type(2){
	background-image:url(../images/gnavi_02.gif);
	}
header div.gnavi a:nth-of-type(2):hover{
	background-image:url(../images/gnavi_02_on.gif);
	}
header div.gnavi a:nth-of-type(3){
	background-image:url(../images/gnavi_03.gif);
	}
header div.gnavi a:nth-of-type(3):hover{
	background-image:url(../images/gnavi_03_on.gif);
	}
header div.gnavi a:nth-of-type(4){
	background-image:url(../images/gnavi_05.gif);
	}
header div.gnavi a:nth-of-type(4):hover{
	background-image:url(../images/gnavi_05_on.gif);
	}
header div.gnavi a:nth-of-type(5){
	background-image:url(../images/gnavi_06.gif);
	}
header div.gnavi a:nth-of-type(5):hover{
	background-image:url(../images/gnavi_06_on.gif);
	}
header div.gnavi a:nth-of-type(6){
	background-image:url(../images/gnavi_07.gif);
	}
header div.gnavi a:nth-of-type(6):hover{
	background-image:url(../images/gnavi_07_on.gif);
	}
header div.gnavi a:nth-of-type(7){
	background-image:url(../images/gnavi_08.gif);
	}
header div.gnavi a:nth-of-type(7):hover{
	background-image:url(../images/gnavi_08_on.gif);
	}
header div.gnavi a:nth-of-type(8){
	background-image:url(../images/gnavi_09.gif);
	}
header div.gnavi a:nth-of-type(8):hover{
	background-image:url(../images/gnavi_09_on.gif);
	}
#keyvisual{
	/*min-width:1096px;*/
	width: 100%;
	height:100%;
	}
#keyvisual div.inner{
	position:relative;
	height:100%;
	}
#keyvisual img{
	height:100%;
	}

#keyvisual div.polygon.off{
	display:none;
	}
#keyvisual div.polygon i{
	position:absolute;
	width:0;
	height:0;
	border-style:solid;
	border-width:24px;
	}

#keyvisual div.polygon.n1 i:nth-of-type(1){
	left:192px;top:0;
	border-color:#ff0141 transparent transparent #ff0141;

	-webkit-animation-delay:0s;
	animation-delay:0s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(2){
	left:144px;top:0;
	border-color:#ff4410 #ff4410 transparent transparent;

	-webkit-animation-delay:-1s;
	animation-delay:-1s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(3){
	left:144px;top:0;
	border-color:transparent transparent #ff811f #ff811f;

	-webkit-animation-delay:-2s;
	animation-delay:-2s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(4){
	left:96px;top:0;
	border-color:transparent #ff9a22 #ff9a22 transparent;

	-webkit-animation-delay:-3s;
	animation-delay:-3s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(5){
	left:96px;top:0;
	border-color:#117691 transparent transparent #117691;

	-webkit-animation-delay:-4s;
	animation-delay:-4s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(6){
	left:96px;top:48px;
	border-color:#ffcc36 #ffcc36 transparent transparent;

	-webkit-animation-delay:-5s;
	animation-delay:-5s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(7){
	left:96px;top:48px;
	border-color:transparent transparent #e4ff27 #e4ff27;

	-webkit-animation-delay:-6s;
	animation-delay:-6s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(8){
	left:48px;top:96px;
	border-color:#c0ff36 #c0ff36 transparent transparent;

	-webkit-animation-delay:-7s;
	animation-delay:-7s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(9){
	left:48px;top:96px;
	border-color:transparent transparent #2b3d6f #2b3d6f;

	-webkit-animation-delay:-8s;
	animation-delay:-8s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(10){
	left:48px;top:144px;
	border-color:#09bbad transparent transparent #09bbad;

	-webkit-animation-delay:-9s;
	animation-delay:-9s;
	}
#keyvisual div.polygon.n1 i:nth-of-type(11){
	left:0;top:192px;
	border-color:#00eff2 transparent transparent #00eff2;

	-webkit-animation-delay:-10s;
	animation-delay:-10s;
	}

#keyvisual div.polygon.n2 i:nth-of-type(1){
	right:0;top:0;
	border-color:#ff3676 #ff3676 transparent transparent;

	-webkit-animation-delay:0s;
	animation-delay:0s;
	}
#keyvisual div.polygon.n2 i:nth-of-type(2){
	right:0;top:0;
	border-color:transparent transparent #ff5727 #ff5727;

	-webkit-animation-delay:-1s;
	animation-delay:-1s;
	}
#keyvisual div.polygon.n2 i:nth-of-type(3){
	right:48px;top:48px;
	border-color:#ff8536 #ff8536 transparent transparent;

	-webkit-animation-delay:-2s;
	animation-delay:-2s;
	}
#keyvisual div.polygon.n2 i:nth-of-type(4){
	right:48px;top:48px;
	border-color:transparent transparent #2b6f5d #2b6f5d;

	-webkit-animation-delay:-3s;
	animation-delay:-3s;
	}
#keyvisual div.polygon.n2 i:nth-of-type(5){
	right:48px;top:96px;
	border-color:#16bb09 transparent transparent #16bb09;

	-webkit-animation-delay:-4s;
	animation-delay:-4s;
	}
#keyvisual div.polygon.n2 i:nth-of-type(6){
	right:96px;top:144px;
	border-color:#00f202 transparent transparent #00f202;

	-webkit-animation-delay:-5s;
	animation-delay:-5s;
	}

#keyvisual div.polygon.n3 i:nth-of-type(1){
	right:0;bottom:144px;
	border-color:transparent transparent #be0ade #be0ade;

	-webkit-animation-delay:0s;
	animation-delay:0s;
	}
#keyvisual div.polygon.n3 i:nth-of-type(2){
	right:0;bottom:96px;
	border-color:#f201ff transparent transparent #f201ff;

	-webkit-animation-delay:-1s;
	animation-delay:-1s;
	}
#keyvisual div.polygon.n3 i:nth-of-type(3){
	right:48px;bottom:48px;
	border-color:#16bb09 transparent transparent #16bb09;

	-webkit-animation-delay:-2s;
	animation-delay:-2s;
	}
#keyvisual div.polygon.n3 i:nth-of-type(4){
	right:96px;bottom:96px;
	border-color:transparent #ff2614 #ff2614 transparent;

	-webkit-animation-delay:-3s;
	animation-delay:-3s;
	}
#keyvisual div.polygon.n3 i:nth-of-type(5){
	right:96px;bottom:48px;
	border-color:#7ad100 #7ad100 transparent transparent;

	-webkit-animation-delay:-4s;
	animation-delay:-4s;
	}
#keyvisual div.polygon.n3 i:nth-of-type(6){
	right:96px;bottom:48px;
	border-color:transparent transparent #be0ade #be0ade;

	-webkit-animation-delay:-5s;
	animation-delay:-5s;
	}
#keyvisual div.polygon.n3 i:nth-of-type(7){
	right:96px;bottom:0
	border-color:#f201ff transparent transparent #f201ff;

	-webkit-animation-delay:-6s;
	animation-delay:-6s;
	}
#keyvisual div.polygon.n3 i:nth-of-type(8){
	right:144px;bottom:0;
	border-color:#ff10ff #ff10ff transparent transparent;

	-webkit-animation-delay:-7s;
	animation-delay:-7s;
	}

/*----------------------------------------------------------------*/
@media (min-height: 801px){
/*----------------------------------------------------------------*/
#keyvisual p.bg{
	position:absolute;left:-30.00vh;top:12.50vh;
	height:61.38vh;
	}

#keyvisual div.people{
	position:absolute;left:0;bottom:27.5vh;
	width:100%;
	}
#keyvisual div.people div.box{
	white-space:nowrap;
	text-align:center;
	}
#keyvisual div.people div.box p{
	display:inline-block;
	position:relative;left:0;
	width:32vh;
	height:32.5vh;
	}
#keyvisual div.people div.box p a{
	display:block;
	width:100%;
	height:100%;
	}

#keyvisual div.title{
	position:absolute;
	left:0;
	top:15.00vh;
	width:100%;
	text-align:center;
	overflow: hidden;
	}
#keyvisual h1{
	height:3.25vh;
	}
#keyvisual h2{
	height:10.88vh;
	margin:3vh 0 3vh 0;
	}
#keyvisual h3{
	height:2.88vh;
	}

#keyvisual div.polygon.n1{
	position:absolute;left:1vh;top:70px;
	}
#keyvisual div.polygon.n2{
	position:absolute;right:1vh;top:70px;
	}
#keyvisual div.polygon.n3{
	position:absolute;right:1vh;bottom:100px;
	}

/*----------------------------------------------------------------*/
} @media (max-height: 800px){
/*----------------------------------------------------------------*/
#keyvisual p.bg{
	position:absolute;left:-240px;top:100px;
	height:491px;
	}

#keyvisual div.people{
	position:absolute;left:0;bottom:220px;
	width:100%;
	}
#keyvisual div.people div.box{
	white-space:nowrap;
	text-align:center;
	}
#keyvisual div.people div.box p{
	display:inline-block;
	position:relative;left:0;
	width:256px;
	height:260px;
	}
#keyvisual div.people div.box p a{
	display:block;
	width:100%;
	height:100%;
	}
#keyvisual div.title{
	position:absolute;
	left:0;
	top:120px;
	width:100%;
	overflow: hidden;
	text-align:center;
	}
#keyvisual div.title h2{
	height:87px;
	margin:24px 0 24px 0;
	}
#keyvisual div.polygon.n1{
	position:absolute;left:8px;top:70px;
	}
#keyvisual div.polygon.n2{
	position:absolute;right:8px;top:70px;
	}
#keyvisual div.polygon.n3{
	position:absolute;right:8px;bottom:100px;
	}
} 
/*---------------------otaki------------------------------------------------*/
#keyvisual div.people{
	overflow: scroll;
}
#keyvisual div.people::-webkit-scrollbar {
    width: 0px;
}

/*-----------------overview--------------------*/
#overview {
	width: 90%;
	margin: 0 auto;
}
.wrap_table {
  width: 100%;
  /*height: 100%;*/
  margin: 2% auto 60px;
  border: 1px solid #dedede;
  border-bottom: none;
  display: table;
}
.wrap_table dl {
  background: #f2f2f2;
  overflow: hidden;
  display: table-row;
}
.wrap_table dt {
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
  font-weight: bold;
  display: table-cell;
}
 .wrap_table dd {
  width: 75%;
  padding: 15px;
  background: #fff;
  border-left: 1px solid #dedede;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
  display: table-cell;
}
/*---------------------yoshida------------------------------------------------*/

#voice {
	width: 100%;
}
#voice .wrap_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

#voice .box {
    /* float: left; */
    height: 150px;
    width: 170px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border: solid 3px #00FF66;
    position: relative;
    margin: 0 3% 12px 3%;
}



#voice .box .rod {
	color: #00FF66;
}

#voice .rod:hover{
	color: white;
}

#voice .box:hover {
	background-color: #00FF66 !important;
	color: white !important;
}

	


#voice .mbox {
  float: left;
  height:230px;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  border: solid 2px transparent;
  position:relative;
}



#voice .hasegawa-article{
	display: none;
}

#voice .ishiduka-article{
	display: none;
}

#voice .hanashita-article{
	display: none;
}
#voice .mbox {
  margin : 5px ;
  padding : 25px 90px 25px 90px;
  border: solid 1px transparent;
  background-color :#33cc66;
} 
#voice .mbox p {
	line-height: 135%;
	font-family:"ＭＳ Ｐゴシック",sans-serif;
	font-size: calc(20% + 0.8vw);
}

#voice .box p {
	line-height: normal;
}
#voice .m-top {
	position: absolute;
    width: 100%;
}

#voice .ishiduka:after {
  display: none;
  border-bottom: 20px solid #33cc66;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  top: 150px;
  left: 50%;
}
#voice .ishiduka-article{
  padding: 30px;
  position: relative;
}

#voice .hanashita-article{
  padding: 30px;
  position: relative;
}
#voice .hanashita-article:after {
  border-bottom: 20px solid #33cc66;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  top: -20px;
  left: 70%;
}

@media screen and (min-width:401px) and (max-width:768px) {
	/*iPhone6 ~ iPad*/
	#voice .mbox p {
		font-size:10px;
	}
}
@media screen and (max-width: 400px) {
	/*~ iPhone6*/
	#voice .mbox p {
		
	}
}

